.userBlock {
  display: flex;
}

.profile {
  align-items: center;
  background-color: rgb(202, 193, 193);
  border: 2px solid brown;
}
.stat {
  text-align: center;
  border: 1px solid rgb(88, 84, 84);
  background-color: rgb(165, 199, 12);
  ;
}
